/* Line behind Text */
.line--behind {
  span {
    position: relative;
    z-index: 1;
    line-height: inherit;

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 104%;
      height: 40%;
      left: 0;
      bottom: 10%;

      background-color: $secondary;
    }
  }
}