.trial-training {
  position: relative;
  background-color: black;
  background-image: url("../../images/dest/home/Gruppe_173.png");
  background-size: cover;
  background-position: center;
  min-height: 600px;

  color: $white;

  z-index: 2;

  h2 {
    text-transform: none;
    font-size: 80px;
    max-width: 800px;
    line-height: 1.2;

    @media (max-width: 992px) {
      font-size: 55px;
    }
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 150px;
    left: 0;
    top: -100px;
    background: url("../../images/dest/bg-overlay-top.svg");
  }

  &:before {

  }
}